<form>
  <div class="mb-3">
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="NOMBRE">
    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
  </div>
  <div class="mb-3">  
    <input type="text" class="form-control" placeholder="APELLIDO">
  </div>
  <div class="mb-3">  
    <input type="text" class="form-control" placeholder="CONDOMINIO">
  </div>
  <div class="mb-3">  
    <input type="text" class="form-control" placeholder="ANTIGUEDAD">
  </div>
  <button type="button" class="btn btn-primary" (click)="submit()">Submit</button>
  <button type="button" class="btn btn-danger" (click)="cancel()">Cancel</button>
</form>
