<app-navbar></app-navbar>
<app-left-menu></app-left-menu>

<div class="container">
  <div class="row">
    <div class="col-2"></div>
    <div class="col-6" style="margin-top: 20px;">
      <table style="margin-top: 30px;" class="table">
        <thead>
          <tr>
            <td style="text-align: center;"><i class="bi bi-plus-circle" (click)="addUser()"></i></td>
            <td style="text-align: center;"><i class="bi bi-trash" (click)="deleteUser()"></i></td>
            <td style="text-align: center;"><i class="bi bi-pencil-square" (click)="updateUser()"></i></td>
          </tr>
        </thead>
      </table>
      <table *ngIf="isList" class="table table-hover">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Condominio</th>
            <th>Antiguedad</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let usuario of usuarios; let i = index" (dblclick)="editUsuario(i)" (click)="selectRow(i)"
            [class.selected]="i == HighlightRow">

        </tbody>
      </table>
      <!--app-add-usuario-- *ngIf="isAdd" (cancelItemEvent)="cancelItem($event)"></!--app-add-usuario-->
      <form *ngIf="isAdd">

        <button type="button" class="btn btn-primary" (click)="submit()">{{action}}</button>
        <button type="button" class="btn btn-danger" (click)="cancel()">Cancel</button>
      </form>
    </div>
  </div>
</div>