<app-navbar></app-navbar>
<div class="container-fluid">
  <div class="row flewx-nowrap">
    <div class="col-auto col-md-auto col-xl-auto px-sm-2 px-0 bg-dark">
      <app-left-menu></app-left-menu>
    </div>
    <div class="col py-3">
      <div class="container">
        <table *ngIf="isList" class="table">
          <thead>
            <tr>
              <td><i class="bi bi-plus-circle" (click)="agregarInvitacion()"></i></td>
              <td><i class="bi bi-trash"></i></td>
              <td><i class="bi bi-pencil-square"></i></td>
            </tr>
          </thead>
        </table>
        <table *ngIf="isList" class="table table-hover">
          <thead>
            <tr>
              <th>Anfitrión</th>
              <th>Asunto</th>
              <th># Invitados</th>
              <th>Fecha Evento</th>
              <th>Detalle</th>
            </tr>
          </thead>
          <tbody>
            
          </tbody>
        </table>
        <div style="margin-top: 30px;">
          <app-agregar-invitacion *ngIf="isAdd"></app-agregar-invitacion>
        </div>
      </div>
    </div>
  </div>
</div>