<div class="modal-body">
    <div class="form-group row">
        <div class="col-sm-4">
            <input type="hidden" class="form-control" [(ngModel)]="user.id" />
            <label class="col-sm-2 col-form-label">Nombre: </label>
            <input type="text" class="form-control" [(ngModel)]="user.Nombre" />
        </div>
        <div class="col-sm-5">
            <label class="col-sm-2 col-form-label">Apellidos: </label>
            <input type="text" class="form-control" [(ngModel)]="user.Apellidos" />
        </div>
        <div class="col-sm-5">
            <label class="col-sm-2 col-form-label">Condominio: </label>
            <input type="text" class="form-control" [(ngModel)]="user.Condominio" />
        </div>
        <div class="col-sm-5">
            <label class="col-sm-2 col-form-label">Tipo Usuario: </label>
            <input type="text" class="form-control" [(ngModel)]="user.tipoUsuario" />
        </div>
        <div class="col-sm-5">
            <label class="col-sm-2 col-form-label">Fecha de Nacimiento: </label>
            <input type="text" class="form-control" [(ngModel)]="user.fechaNacimiento" />
        </div>
        <div class="col-sm-5">
            <label class="col-sm-2 col-form-label">RFC o CURP: </label>
            <input type="text" class="form-control" [(ngModel)]="user.rfcOrcurp" />
        </div>
        <div class="col-sm-5">
            <label class="col-sm-2 col-form-label">Telefono: </label>
            <input type="text" class="form-control" [(ngModel)]="user.telefono" />
        </div>
    </div>
</div>
<div class="modal-footer">

    <div class="spinner-border text-secondary" role="status">
        <span class="sr-only"></span>
    </div>

    <!--<button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="closeModal()">Cancelar </button>-->
    <button *ngIf="user.id" type="submit" class="btn btn-primary" data-bs-dismiss="modal"
        (click)="onFormSubmit()">Editar</button>

    <button *ngIf="!user.id" type="submit" class="btn btn-primary" data-bs-dismiss="modal"
        (click)="onFormSubmit()">Agregar</button>
</div>

